# Environnement virtuel Python
venv/
.venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*.pyo

# Fichiers reçus / partagés (dossier de travail)
Downloads/
QRDrop/

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Fichiers temporaires
*.tmp
*.bak
